body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: #374151;
    color: #fff;
    overflow: hidden;
    
}

.calculator-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw; /* Ocupa 100% da largura da viewport */
  height: 82vh; /* Ocupa 100% da altura da viewport */
  background-color: #374151; /* Cor de fundo escura */
  color: white; /* Cor do texto */
  overflow: hidden;
}

.calculator{
    width: 340px;
    margin: 100px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    background-color: #000000;
}

.display{
    field-sizing: 1.5em;
    margin-bottom: 30px;
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    background-color: #222222;
    color: #fff;
    text-align: right;
}

.input{
    height: 1.5em;
}

.result{
    height: 1.5em;
    color: gray;
}

.buttons{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}