.button{
    font-size: 1.2em;
    padding: 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease;
    color: #fff;
}

.button:hover{
    opacity: 0.9;
}

.clear{
    background-color: #060F4C;
}

.operator{
    background-color: #6587BC;
}

.equal{
    grid-column: span 2;
    background-color: #5c7088;
}

.button:not(.clear):not(.operator):not(.equal){
    background-color: #444444;
}